#overlay{
	background: #5DADE2;
    height: 100%;
    /*opacity: .2;*/
    width: 100%;
}

@media (max-width: 767px) {
  .socailicondisable {
    display: none;
  }
}
.pfontsize{
   font-size: 20px;
}
.lifontsize{
  font-size: 15px;
}

#row-wrapper-bg1 {
    background: url('http://localhost/codeigniter-syscad/uploads/tamu_system_building1.png') no-repeat scroll center center/cover #5DADE2;
    padding: 220px;
}

/*.fwb-bg1 {
    background-image: url('http://localhost/codeigniter-syscad/uploads/tamu_system_building1.png');
    padding: 220px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
}*/
